body, html {
    height: 100%;
    background-color: #e8ddcb;
}

body * {
    font-family: georgia, serif;
}

.header {
    font-family: Parisienne, serif;
    font-size: 120px;
    padding: 20px 0;
    text-align: center;
}

.main-title {
    font-style: italic;
    text-align: center;
    font-size: 24px
}

#content {
    margin-bottom: 20px;
    border: 2px solid #F2EEE6;
    border-width: 2px 0;
}